/* _content/netmvc/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-6uw2oec1vc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-6uw2oec1vc] {
  color: #0077cc;
}

.btn-primary[b-6uw2oec1vc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-6uw2oec1vc],
.nav-pills .show > .nav-link[b-6uw2oec1vc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-6uw2oec1vc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-6uw2oec1vc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-6uw2oec1vc] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-6uw2oec1vc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-6uw2oec1vc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
