body {
  background-size: 100%;
  background-image: url(/images/hinhnenw7.jpg);
}
.tinh-tien-panel {
  width: 220px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  padding: 20px 30px 20px 20px;
  border-radius: 6px;
  margin-left: 1160px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.connected {
  color: green;
}

.dot-online {
  width: 8px;
  height: 8px;
  background: green;
  display: inline-block;
  border-radius: 50%;
}

.time-info label {
  display: block;
  margin-top: 5px;
  font-size: 13px;
}

.time-info input,
.time-info textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 13px;
}

.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 10px;
}

.actions button {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer button {
  flex: 1;
  margin: 0 2px;
  padding: 5px;
}

.logo img {
  width: 100%;
  margin-top: 10px;
}

.bottom-options {
  margin-top: 10px;
}

.bottom-options select {
  width: 100%;
  padding: 5px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-left: 45px;
}
